{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 1 version", "ie 11"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-typescript"]
}
